<div class="container">
	<div class="row">
		<h1>Fuck Off, Rails!</h1>
				<%= form_for [@user, @item] do |f| %>
					<%= f.label :name %>
					<%= f.text_field :name, {class: 'form-control', placeholder: 'dsfsdf'} %>
					<br>
					<%= f.label :description %>
					<%= f.text_field :description %>
					<br>
					<%= f.label :price %>
					<%= f.number_field :price %>
					<br>
					<%= f.label :expiration %>
					<%= f.date_field :expiration %>
					<br>
					<%= f.submit "Store" %>
				<% end %>
			</dl>
		<p>You are logged in as: <%= User.find(session[:id]).email %>
	</div>
		<div class="row">
			<% num = 1 %>
			<% while num <= @items.count %>
				<%= @items.find(num).name %>
				<%= @items.find(num).price %>
				<%= @items.find(num).expiration %>
				<%= @items.find(num).description %>
				<% num += 1 %>
			<% end %>
		</div>
</div>